<h> Edit <%= @user.name%>'s breweries visited!</h>

<p>	
	<form action="/users/<%= @user.id %>/update" method="post">
  <p>
  	Edit MateName: <input type="text" name="name" value="<%= @user.name %>">
	</p>
	  <% @all_breweries.each do |b| %>
	    <input type="checkbox" name="breweries[]" value="<%= b.id %>" <%= "checked" if @user.breweries.include?(b) %>>
	    <%= b.name %><br>
	  <% end %>
		
  	
	  <input type="submit">
	</form>
</p>
		

