<h1><%= @user.name%> has visited:</h1>


<p>
<% @user.breweries.each do |b| %>
  <%= b.name %><br>
	<a href = "/breweries/<%= b.id%>/beers"> Check out <%=@user.name%>'s other beer reviews</a>
<% end %>
<p>

<a href = "/users/<%= @user.id%>/edit"> Edit this user!</a>