<h1><%= @user.name%> has visited:</h1>


<p>
<% @user.breweries.each do |b| %>
  <%= b.name %>
	<p>
		<a href = "/breweries/<%= b.id%>/beers"> Check out other beer reviews for <%= b.name %>!</a>
	</p>
<% end %>
<p>
	

<a href = "/users/<%= @user.id %>/edit"> Edit <%= @user.name %>'s breweries visited!</a>